<div class='login-div'>

	<form action='/login' method='POST'>
		<h1>Sign In</h1>
		<input type='text' name='username' id='' required />
		<label for='username'>Username</label>
		<input type='password' name='password' id='' required />
		<label for='password'>Password</label>
		<button>Login</button>
		<p>Dont have an account?</p>
		<a href='/register'>Sign Up</a>
	</form>
</div>