<div class='images'>
	<img src='./images/img01.jpg' alt='gooseOne' />
	<h3>Old Nan Ruth</h3>
	<img src='./images/img02.jpg' alt='gooseTwo' />
	<h3>Slippin Alfred</h3>
	<img src='./images/img03.jpg' alt='GooseThree' />
	<h3>Gilbert the Unsavory</h3>
</div>