<div class='profileDiv'>
	<h2>Account Settings</h2>
	<h3>Change Your Password</h3>
	<form action='/profile' method=''>
		<label for='oldPass'>Old Password</label>
		<input type='password' name='oldPass' required />
		<label for='newPass'>New Password</label>
		<input type='password' name='newPass' required />
		<label for='confirmNewPass'>Confirm New Password</label>
		<input type='password' name='confirmedNewPass' required />
		<button>Submit</button>
	</form>
</div>