<div class='login-div'>

	<form action='/register' method='POST'>
		<h1>Register</h1>
		<input type='text' name='username' id='' />
		<label for='username'>Username</label>
		<input type='password' name='password' id='' />
		<label for='password'>Password</label>
		<input type='email' name='email' id='' />
		<label for='email'>Email</label>
		<button>Sign Up</button>
		<p>Already have an account?</p>
		<a href='/login'>Sign In</a>
	</form>
</div>